article, aside, hgroup, header, footer, figure, figcaption, nav, section,time, mark, canvas, video, audio, details, summary, menu { display:block; }
body, p, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select { margin:0; padding:0; font-family: 'notokr', 'sans-serif'; text-decoration:none; }
body, div, th, td, input, textarea, select, button, table, h1, h2, h3, h4, h5, h6, label, legend { font-family: 'notokr', 'sans-serif'; text-decoration:none; color:#1d1d1d;}
img, fieldset, iframe { border:0 none; }
a:hover, a:active, a:focus { text-decoration:none; }
li, dd, ul, ol { list-style:none; }
em, address { font-style:normal; }
a { text-decoration:none; font-family: 'notokr', 'sans-serif'; color:#000; font-weight:400; cursor:pointer; }
body { background-color:#e6ebf3; position:relative; }

header { position:fixed; width:100%; height:50px; line-height:50px; box-sizing:border-box; border-bottom:1px solid #ededed; background-color:#fff; z-index:1; }
nav.wrap { width:90%; margin:0 auto; }
nav.wrap:after { content:" "; display:block; clear:both; }
nav#gnb a.logo { float:left; display:inline-block; background:url('http://www.won-h.com/portfolio/mapping/img/m/m_logo.png') no-repeat; width:98px; height:14px; background-size:100%; vertical-align:text-top; margin-top:17px; }
nav#gnb li { float:right; }
nav#gnb li a { font-size:16px; font-weight:400; color:#2a2a2a; float:left; margin-right:18px; }
nav#gnb li a.my { text-indent:-9999px; width:26px; height:21px; background:url('http://www.won-h.com/portfolio/mapping/img/m/nav_login.png') no-repeat; background-size:100%; vertical-align:text-top; margin-top:14px; margin-right:0; }

article.banner { position:relative; padding-top:50px; width:100%; height:250px; overflow:hidden; box-sizing:border-box; }
	@media all and (min-width:360px) {
		article.banner { height:275px; }
	}
	@media all and (min-width:380px) {
		article.banner { height:284px; }
	}
article.banner img { width:100%; }

#airline { background:#fff; width:100%; padding:0 5%; box-sizing:border-box; padding-bottom:30px; }
#airline ul.line_section_box { width:80%; padding:26px 0; margin:0 auto; }
#airline ul.line_section_box:after { content:" "; display:block; clear:both; }
#airline ul.line_section_box li { width:32%; height:27px; line-height:27px; float:left; text-align:center; cursor:pointer; }
#airline ul.line_section_box li:before { background:url('http://www.won-h.com/portfolio/mapping/img/m/m_air_line_icon.png') no-repeat; background-size:44px; width:22px; height:22px; vertical-align:text-top; margin-right:5px; }
#airline ul.line_section_box li:before { background-size:350%; }
#airline ul.line_section_box li.list1:before { content:" "; display:inline-block; background-position:0px 0px; }
#airline ul.line_section_box li.list1.on:before { content:" "; display:inline-block; background-position:0 -26px; }
#airline ul.line_section_box li.list2:before { content:" "; display:inline-block; background-position:-26px 0px; }
#airline ul.line_section_box li.list2.on:before { content:" "; display:inline-block; background-position:-26px -26px; }
#airline ul.line_section_box li.list3 { width:36%; }
#airline ul.line_section_box li.list3:before { content:" "; display:inline-block; background-position:-52px 0px; }
#airline ul.line_section_box li.list3.on:before { content:" "; display:inline-block; background-position:-52px -26px; }
#airline ul.line_section_box li a { color:#9ba4ae;  }
#airline ul.line_section_box li.on a { color:#22b0ff; }

#airline form {  }
#airline form ul { margin-bottom:6px; }
#airline form ul:after { content:" "; display:block; clear:both; }
#airline form ul li { float:left; width:50%; height:50px; line-height:50px; box-sizing:border-box; padding-left:10px; border:1px solid #ddd; font-size:12px; }
#airline form ul li.day { width:100%; }
#airline form ul li:nth-child(2) { border-left:0; }
#airline form ul li:after { content:" "; display:inline-block; float:right; padding-right:10px; background:url('http://www.won-h.com/portfolio/mapping/img/m/blue_arrow2.png') no-repeat; width:18px; height:10px; background-size:18px; vertical-align:text-top; margin-top:20px; }
#airline form ul.decide { margin-top:15px; }
#airline form ul.decide li { padding:0; text-align:center; border:0; color:#fff; border-radius:3px; letter-spacing:-1px; }
#airline form ul.decide li:after { display:none; }
#airline form ul.decide li.direct { width:28%; background:#92d8ff; float:left; font-size:16px; position:relative; transition:all .2s; overflow:hidden; }
#airline form ul.decide li.direct.on { background:#22b0ff; }
#airline form ul.decide li.direct span { opacity:0; background:#fff; vertical-align:text-top; transition:all .2s; }
#airline form ul.decide li.direct span.dirsp1 { width:8px; height:2px; transform:rotate(45deg) translate(-42px, 0); margin-top:8px; margin-right:-4px; margin-left:4px; }
#airline form ul.decide li.direct span.dirsp1.on { display:inline-block; transform:rotate(45deg) translate(0, 0); opacity:1; transition:all .2s; }
#airline form ul.decide li.direct span.dirsp2 { width:12px; height:2px; transform:rotate(-45deg) translate(42px, 0); margin-top:7px; }
#airline form ul.decide li.direct span.dirsp2.on { display:inline-block; transform:rotate(-45deg) translate(0, 0); opacity:1; transition:all .2s;}
#airline form ul.decide li.enter { width:68%; background:#22b0ff; font-size:18px; font-weight:500; float:right; }

#review { background:#fff; width:100%; padding:0 5%; box-sizing:border-box; padding-bottom:30px; margin-top:30px; }
#review:after { content:" "; display:block; clear:both; }
#review div.top { width:100%; height:60px; line-height:60px; position:relative; }
#review p { float:left; color:#1fd2ff; font-size:24px; font-weight:bold; letter-spacing:-0.4px; }
#review ul { float:right; }
#review ul li { float:left;}
#review ul li:first-child:after { content:" "; display:inline-block; width:1px; height:10px; background:#ddd; margin:0 6px; }
#review ul li a { color:#a2a2a2; font-size:14px; }
#review ul li a.on { color:#22b0ff; }
#review input { background:#fff; border:1px solid #ddd; border-radius:3px; padding-left:10px; box-sizing:border-box; float:left; width:68%; height:40px; line-height:40px; }
#review button { background:#22b0ff; color:#fff; text-align:center; border-radius:3px; box-sizing:border-box; float:right; width:28%; height:40px; line-height:40px; border:0; vertical-align:text-top; margin-top:-1px; }

#loading { width:100%; margin:25px auto; text-align:center; }
#loading:after { content:" "; display:block; clear:both; }
#loading div {
	width:14px; height:14px; display:inline-block; background-color:#22b0ff; border-radius:10px; margin:0 5px;
	animation-name: loadingDiv; animation-duration: 1.6s; animation-iteration-count: infinite; animation-direction: linear;
	-webkit-animation-name:loadingDiv; -webkit-animation-duration: 1.6s; 
}
#loading div.i1 { animation-delay: .3s; }
#loading div.i2 { animation-delay: .6s; }
#loading div.i3 { animation-delay: .9s; }
#loading span { font-size:16px; display:inline-block; vertical-align:text-top; margin-top:-2px; color:#0c9bea; }

@keyframes loadingDiv {
	0% { opacity: 0.2; }
	25% { opacity: 0.6; }
	50% { opacity: 1; border-radius:3px; }
	75% { opacity: 0.6; }
	100% { opacity: 0.2; }
}

#reviews_content { width:100%; padding:0 5%; box-sizing:border-box; padding-bottom:30px; }
#reviews_content .member_r { width:49%; height:206px; margin-right:2px; margin-bottom:10px; background:#fff; display:inline-block; border-radius:3px; box-sizing:border-box; border:1px dashed #ddd; padding:10px;}
#reviews_content .member_r:nth-child(2n) { margin-right:0; }
#reviews_content .member_r .img_wrap { width:100%; height:100px; overflow:hidden; position:relative; border-radius:3px; }
#reviews_content .member_r .img_wrap img { width:100%; }
#reviews_content .member_r .text_wrap { padding:5px 1px; box-sizing:border-box; }
#reviews_content .member_r .text_wrap p { font-family:'돋움','dotum','sans-serif'; font-size:12px; font-weight:bold; height:32px; line-height:32px; }
#reviews_content .member_r .text_wrap span { display:inline-block; display:-webkit-box; width:90%; height:30px; line-height:17px; font-family:'돋움','dotum','sans-serif'; font-size:12px; overflow:hidden; -webkit-line-clamp:2; text-overflow:ellipsis; white-space:normal; -webkit-box-orient:vertical; }
#reviews_content a { display:block; width:100%; height:40px; line-height:40px; text-align:center; background:#c3c3c3; border:0; border-radius:3px; transition:all .2s; margin-top:10px; color:#fff;}
#reviews_content a:active { background:#22b0ff; }

footer { width:100%; margin:0 auto; margin-top:40px; text-align:center; border-top:1px dashed #b3b6bb; padding:20px 5%; box-sizing:border-box; }
ul.info { text-align:center; display:inline-block; }
ul.info:after { content:" "; display:block; clear:both; }
ul.info li { float:left; }
ul.info li:after { content:" "; display:inline-block; width:1px; height:9px; background:#909090; margin:0 8px; }
ul.info li:last-child:after { display:none; }
ul.info li a { font-family:'돋움','dotum','sans-serif'; font-size:12px; font-weight:normal; color:#424242; }

.friend_logo { text-align:center; margin:20px auto; }
.friend_logo img {  }

.advise { text-align:left; margin:20px auto; }
.advise p { color:#8b8b8b; line-height: 20px; font-family:'돋움','dotum','sans-serif'; font-size:12px; font-weight:normal;}

.info2 { text-align:center; margin:20px auto; }
.info2 ul { display:inline-block; text-align:center; }
.info2 ul:after { content:" "; display:block; clear:both; }
.info2 ul li { float:left; font-family:'돋움','dotum','sans-serif'; font-size:12px; font-weight:normal; }
.info2 ul li:after { content:" "; display:inline-block; width:1px; height:9px; background:#909090; margin:0 6px; }
.info2 ul li:last-child:after { display:none; }
.info2 p { font-family:'돋움','dotum','sans-serif'; font-size:12px; font-weight:bold; color:#505e73; padding-top:15px; }

.reviewBlind { display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(255,255,255,0.8); z-index:30; }
.reviewBlind div.wrap { position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; width:100%; height:50px; text-align:center; }
.reviewBlind div.wrap p { margin-bottom:20px; font-size:16px; font-weight:500; color:#4c4c4c; }
.reviewBlind div.wrap div { width:12px; height:12px; display:inline-block; background-color:#22b0ff; border-radius:10px; margin:0 5px;
	animation-name: bringList; 
	animation-duration: 1.6s; 
	animation-iteration-count: infinite; 
	animation-direction: linear;
	-webkit-animation-name:bringList;
	-webkit-animation-duration: 1.6s; 
}
.reviewBlind div.wrap div.i1 { animation-delay: .3s; }
.reviewBlind div.wrap div.i2 { animation-delay: .6s; }
.reviewBlind div.wrap div.i3 { animation-delay: .9s; }
	@keyframes bringList {
		0% { opacity: 0.2; }
		25% { opacity: 0.6; }
		50% { opacity: 1; border-radius:3px; }
		75% { opacity: 0.6; }
		100% { opacity: 0.2; }
	}

.blindBackground { width:100%; height:100%; position:fixed; top:0; left:0; background:rgba(0,0,0,0.6); z-index:20; display:none; }
#log_box { width:90%; height:500px; position:absolute; top:30px; left:0; right:0; margin:auto; background-color:#fff; border-radius:3px; z-index:21; overflow:hidden; display:none;}
#log_box .log_box_title { width:100%; height:45px; background-color:#22b0ff; text-align:center; padding-top:9px; box-sizing:border-box; position:relative; }
#log_box .log_box_title a.back { background:url('http://www.won-h.com/portfolio/mapping/img/m/back_arrow.png') no-repeat; width:22px; height:22px; background-size:100%; position:absolute; left:12px; top:12px; text-indent:-9999px; }
#log_box .log_box_title img { width:75.5px; }
#log_box .log_box_content { padding:5%; box-sizing:border-box;}
#log_box .log_box_content .log_id input,
#log_box .log_box_content .log_password input { width:100%; height:40px; border:1px solid #ddd; margin-top:6px; padding-left:10px; box-sizing:border-box; border-radius:3px; }
#log_box .log_box_content .log_id input::placeholder,
#log_box .log_box_content .log_password input::placeholder { color:#444; line-height:40px;  }
#log_box .log_idSave input#log_idSave { width:16px; height:16px; vertical-align:text-top; margin-top:5px; }
#log_box .log_idSave label { padding-left:5px; font-size:12px; }
#log_box .log_enter button { width:100%; height:40px; margin-top:10px; background:#22b0ff; box-sizing:border-box; border:0; border-radius:3px; }
#log_box .log_enter button span { color:#fff; text-align:center; font-size:16px; }
#log_box .log_find { padding:20px 0; text-align:center; border-bottom:1px dashed #ddd; }
#log_box .log_find p,
#log_box .log_find a { color:#737373; font-size:11px; font-family:'돋움','dotum','sans-serif'; }
#log_box .log_find a { text-decoration:underline; color:#22b0ff; }
#log_box .log_another { margin-top:20px; }
#log_box .log_another a { display:block; margin-top:6px; width:100%; height:40px; line-height:40px; color:#fff; text-align:center; font-size:14px; border-radius:3px; }
#log_box .log_another a.naver { background-color:#00c73c; }
#log_box .log_another a.kakao { background-color:#ffd800; color:#3a2c25; }
#log_box .log_member { padding-top:20px; text-align:center; }
#log_box .log_member p,
#log_box .log_member a { color:#737373; font-size:12px; font-family:'돋움','dotum','sans-serif'; }
#log_box .log_member a { text-decoration:underline; color:#22b0ff; }


#choice_box { width:96%; height:96%; height:min-content; position:fixed; top:0; left:0; right:0; bottom:0; margin:auto; background-color:#fff; border-radius:3px; z-index:21; display:none; overflow:hidden; }
.ch_title { width:100%; height:50px; line-height:50px; background:#22b0ff; box-sizing:border-box; padding:0 5%; color:#fff; position:relative; text-align:center; }
.ch_title a.back { background:url('http://www.won-h.com/portfolio/mapping/img/m/back_arrow.png') no-repeat; width:22px; height:22px; background-size:100%; position:absolute; left:12px; top:14px; text-indent:-9999px; }
.ch_table { width:100%; padding:0 5%; box-sizing:border-box; margin:20px 0; }
.ch_table p.tablep { font-weight:500; font-size:14px; letter-spacing:-0.4px; margin-bottom:20px; }
.ch_table table { width:100%; border-top:1px solid #dcdada; border-bottom:1px solid #dcdada; }
.ch_table table tr {}
.ch_table table th,
.ch_table table td { height:30px; background:#efefef; font-size:12px; font-family:'돋움','dotum','sans-serif'; cursor:pointer; }
.ch_table table td { background:#fff; color:#696969; padding-left:24px; }

.ch_table .person_box { margin-bottom:50px; width:100%; height:50px; position:relative; box-sizing:border-box; }
.ch_table .person_box:after { content:" "; display:block; clear:both; }
.ch_table .person_box.adult { margin-top:30px; }
.ch_table .person_box li { width:40%; display:inline-block; float:left; }
.ch_table .person_box li ol { font-size:18px; color:#323232; text-align:left; }
.ch_table .person_box li ol:last-child { font-size:15px; color:#a9a9a9; }
.ch_table .person_box.baby li ol span { display:block; font-size:13px; color:#7b71d2; }
.ch_table .person_box form { float:right; width:60%; display:inline-block; text-align:center; }
.ch_table .person_box button { position:relative; width:40px; height:40px; vertical-align:text-top; margin-top:-8px; background:#22b0ff; border:1px solid #22b0ff; border-radius:5px; cursor:pointer; }
.ch_table .person_box button span { position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; width:16px; height:2px; background:#fff; }
.ch_table .person_box button.plus_person span.plus_line2 { width:2px; height:16px; }
.ch_table .person_box div.person_num { height:40px; line-height:40px; text-align:center; width:50px; box-sizing:border-box; display:inline-block; }

.ch_table .seat_box { margin:0 auto; margin-top:20px; }
.ch_table .seat_box p { width:80%; height:50px; line-height:50px; margin:0 auto; text-align:center; cursor:pointer; border:1px solid #ddd; border-radius:6px; font-weight:500; margin-bottom:10px; }
.ch_table .seat_box p:last-child { margin-bottom:0; }
.ch_table .seat_box p:hover { background:#82d2ff; border:1px solid #82d2ff; color:#fff; }
.ch_table .seat_box p.on { background:#22b0ff; border:1px solid #22b0ff; color:#fff; }

.blue { color:#22b0ff; padding-left:6px; }

/*캘린더 S*/
.calendar{
  color: #3c3c3c;
  margin: 10px auto;
  background: #fff;
  /*padding: 60px 40px 80px 40px;*/
  width: 100%;
  max-width: 600px;
  height: 430px;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(2,2,2,0.2);
  position: relative;
}
.calendar__title{
  text-align: center;
}
.calendar--day-view{
  position: absolute;
  border-radius: 3px;
  top: -2.5%;
  left: -2.5%;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
 box-shadow: 3px 12px 5px rgba(2,2,2,0.16);
  z-index: 2;
  overflow: hidden;
  transform: scale(0.9) translate(30px,30px);
  opacity: 0;
  visibility: hidden;
/*   border-radius: 5px; */
  display: none;
  align-items: flex-start;
  flex-wrap: wrap;
}
.day-view-content{
  color: #222;
  width: 100%;
  padding-top: 55px;
}
.day-highlight, .day-add-event{
  padding: 8px 10px;
  margin: 12px 15px;
  border-radius: 4px;
  background: #e7e8e8;
  color: #222;
  font-size: 14px;
  font-weight: 600;
  font-family: "Avenir", sans-serif;
}
.row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.row .qtr{
  width: 40%;
}
.row .half{
  width: 100%;
}
@media (min-width: 800px){
  .row{
    flex-wrap: nowrap;
  }
  .row .half{
    width: 35%;
  }
  .row .qtr{
    width: 25%;
  }
}

.day-add-event{
  background: #04b6e2;
  color: #fff;
  padding: 16px;
  display: none;
  transform: translateY(-15px);
  opacity: 0;
}
.day-add-event[data-active="true"]{
  display: block;
  animation: popIn 250ms 1 forwards;
}
.add-event-label{
  padding: 10px 0;
  font-size: 18px;
  font-family: 'Avenir', sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  color: rgba(255,255,255,0.8);
}
.add-event-edit{
  display: block;
  margin: 4px 0;
  max-width: 70%;
  border-bottom: 2px solid #fff;
  font-size: 18px;
  font-weight: 800;
  color: #fff;
}
.add-event-edit--long{
  max-width: 90%;
}

input.add-event-edit{
  border: none;
  border-bottom: 2px solid #fff;
  background: transparent;
  outline: none;
  font: inherit;
  color: #fff;
  font-size: 18px;
  font-weight: 800;
}
.add-event-edit--error, input.add-event-edit--error{
  border-color: #ff5151;
  animation: shake 300ms 1 forwards;
}
@keyframes shake {
  20%, 60%{
    transform: translateX(4px);
  }
  40%, 80%{
    transform: translateX(-4px);
  }
}
input.add-event-edit::-webkit-input-placeholder {
   color: #fff;
}

input.add-event-edit:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

input.add-event-edit::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

input.add-event-edit:-ms-input-placeholder {  
   color: #fff;  
}
.event-btn{
  padding: 3px 8px;
  border: 3px solid #fff;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  width: 65px;
  margin: 5px 0;
  text-align: center;
}

.event-btn--save{
  border-color: #fff;
   background: #74c500;
  color: #fff;
  border-color: transparent;
}
.event-btn--save:hover{
  box-shadow: 0px 2px 4px rgba(2,2,2,0.2);
}
.event-btn--cancel{
  background: #ff5151;
  color: #fff;
  border-color: transparent;
}
.event-btn--cancel:hover{
  box-shadow: 0px 2px 4px rgba(2,2,2,0.2);
}
/* .add-event-btn:hover, .add.event-btn:focus{
  background: #00258e;
  box-shadow: 0px -1px 2px rgba(3,2,2,0.2);
} */
.day-highlight .day-events-link{
  border-bottom: 2px solid #222;
  padding: 0;
  cursor: pointer;
}
#add-event{
  color: #04b6e2;
  border-color: #04b6e2;
}
.day-view-exit{
  position: absolute;
  top: 24px;
  line-height: 1em;
  left: 22px;
  font-size: 22px;
  color: #252525;
  font-family: 'Avenir', sans-serif;
  font-weight: 800;
  cursor: pointer;
  opacity: 0;
  animation: popIn 200ms 1 forwards;
  text-transform: uppercase;
}
.day-view-date{
  position: absolute;
  top: 19px;
  right: 22px;
  text-align: right;
  font-size: 22px;
  font-family: 'Avenir', sans-serif;
  font-weight: 800;
  color: #393939;
  border-bottom: 2px solid #222;
  cursor: pointer;
}
.day-inspiration-quote{
  position: absolute;
/*   top: 90px; */
  margin-top: -40px;
  left: 10%;
  width: 80%;
  height: calc(100% - 110px);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: -1px;
  color: #ddd;
  line-height: 1.1em;
  font-family: 'Avenir', sans-serif;
  z-index: -1;
}
.day-event-list-ul{
  list-style: none;
  margin: auto;
  width: 95%;
  padding: 0;
  max-height: 300px;
  overflow: auto;
}
.day-event-list-ul li {
  padding: 10px;
  margin: 10px 0;
/*   background: #04b6e2; */
/*   box-shadow: 0px 1px 1px  rgba(2,2,2,0.5); */
  position: relative;
}
.event-dates small{
  font-size: 0.65em;
  color: #444;
}
.event-dates{
  font-weight: 800;
  font-family: 'Avenir', sans-serif;
  color: #04b6e2;
  font-size: 18px;
  text-transform: lowercase;
/*   position: relative; */
}
.event-delete{
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 12px;
  color: #f25656;
  cursor: pointer;
}
.event-name{
  font-size: 19px;
  font-family: 'Avenir', sans-serif;
  color: #222;
  padding:10px;
  background: #f7f7f7;
  margin: 2px 0;
  display: block;
  text-transform: initial;
}
.calendar--day-view-active{
  animation: popIn 200ms 1 forwards;
  visibility: visible;
  display: flex;
  transition: visibility 0ms;

}
.calendar--view{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  width: 100%;
}
.cview__month{
  width: 100%;
  height:60px; 
  line-height:60px;
  text-align: center;
  font-weight: 800;
  font-size: 22px;
  font-family: 'Avenir', sans-serif;
  color: #222;
  text-transform: uppercase;
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-around;
}
.cview__month-last,.cview__month-next,.cview__month-current{
  width: 20%;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  color: #222;
  position:relative;
}
.cview__month-current{
width:60%;
}
.cview__month-last:hover,.cview__month-next:hover{
  color: #22b0ff;
}

.cview__month-current{
  font-size: 22px;
  cursor: default;
  animation: popIn 200ms 1 forwards;
  transform: translateY(20px);
  opacity: 0;
  position: relative;
}
.cview__month-reset{
  animation: none;
}
.cview__month-activate{
  animation: popIn 100ms 1 forwards;
}
.cview--spacer, .cview__header, .cview--date{
  width: 14.28571428571429%;
  max-width: 14.28571428571429%;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  overflow: hidden;
  text-overflow: clip;
  font-size: 14px;
  font-weight: 400;
}
.cview--date{
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.has-events::after{
  border-radius:100%;
  animation: popIn 200ms 1 forwards;
  background: rgba(255,255,255,0.95);
  transform: scale(0);
  content: '';
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: 8px;
  left: 12px;
  
}
.cview--date:hover::before{
  background: rgba(255,255,255,0.2);
}
.cview--date.today{
  color: #111;  
}
.cview--date.today::before{
  animation: popIn 200ms 1 forwards;
  background: rgba(255,255,255,0.2);
  transform: scale(0);
  content:"오늘";
  font-size:12px; color:#22b0ff; padding-top:28px;
}
@keyframes popIn{

  100%{
    transform: scale(1);
    opacity: 1;
  }
}
.cview--date::before{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  transform: scale(0.8);
  z-index: 0;
}
.cview--date:hover{
	color:#22b0ff;
}
.footer{
  width: 100%;
  bottom: 30px;
  left: 0;
  position: absolute;
  font-size: 14px;
  text-align: center;
}
.footer__link{
  cursor: pointer;
  padding: 6px 8px;
  border: 1px solid #22b0ff;
  border-radius:50px;
  color:#22b0ff;
  font-family:'돋움','sans-serif';
  font-size:12px;

}
.footer__link:hover {
	padding: 8px 10px;
	color:#fff; 
	background:#22b0ff;
}
#calendar-month-last,
#calendar-month-next { text-indent:-9999px; }
#calendar-month-last > span { 
	position: absolute;
	top: 12px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 10px;
	height: 2px;
	transform: rotate(45deg);
	background: #22b0ff;
}
#calendar-month-last > span.la2 { top:0; 	transform: rotate(-45deg); }
#calendar-month-next > span { 
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 10px;
	height: 2px;
	transform: rotate(45deg);
	background: #22b0ff;
}
#calendar-month-next > span.ne2 { top:12px; transform: rotate(-45deg); }
#dates { margin-top:20px;  }
/*캘린더 E*/